<!DOCTYPE html>
<html lang="en">
	<head>
	    
	    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
	    <link rel="stylesheet" href="/static/css/styles.css" />
	    <script src="http://code.jquery.com/jquery.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	    
	    <title>{% block title %}My blog{% endblock %}</title>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="#">BITS of my mind!!</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="active"><a href="#">Home</a></li>
	              <li><a href="#about">About</a></li>
	              <li><a href="#contact">Contact</a></li>
	            </ul>
                <div class="input-append">
				    <input class="span2" id="appendedInputButton" placeholder="Search..." type="text">
				    <button class="btn" type="button">Go!</button>
			    </div>
	            <ul class="nav pull-right">

				{% block credentials %}
					<li><span class="navbar-text">Login with: </span></li>
					<li><a href="{% url 'socialauth_begin' 'facebook' %}"><img class="icon" src="/static/icons/facebook.png" title="Login with Facebook" /></a></li>
			        <li><a href="{% url 'socialauth_begin' 'google-oauth2' %}"><img class="icon" src="/static/icons/google.png" title="Login with Google" /></a></li>
					<li><a href="{% url 'socialauth_begin' 'github' %}"><img class="icon" src="/static/icons/github.png" title="Login with GitHub" /></a></li>
				{% endblock %}
				</ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span1"></div>
				<div class="span7" id="content">
			        {% block content %}{% endblock %}
			    </div>

				<div class="span3">
			        {% block sidebar %}
				    	{% block posts %}
				    	{% endblock %}

				    	<div class="tags-list">
					    	{% block tags-list %}
					    	{% endblock %}
				    	</div>
			        {% endblock %}
			    </div>
			    <div class="span1"></div>
			</div>
		</div>
		<footer>
		    <div id="debug-data">
		        {% block debug_data %} {{ debug_data }} {% endblock %}
		    </div>
		</footer>
	</body>
</html>