<!DOCTYPE html>
<html lang="en">
	<head>
	    
	    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
	    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
	    <link rel="stylesheet" href="/static/css/styles.css" />
	    <script src="/static/js/jquery-2.0.3.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	    <script type="text/javascript">
	    	function search() {
	    		data = $('#appendedInputButton').val();
	    		window.location = '/blog/posts/search/'+data;
	    	}

	    	$(document).ready(function() {
	    		$('#appendedInputButton').keyup(function(event){
    				if(event.keyCode == 13){
        				search();
    				}
				});
	    	});
	    </script>
	    <title>{% block title %}My blog{% endblock %}</title>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container-fluid">
	          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="brand" href="#">BITS of my mind!!</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li class="active"><a href="/blog/posts/all">Home</a></li>
	              <li><a href="#about">About</a></li>
	              <li><a href="#contact">Contact</a></li>
	            </ul>
                <div class="input-append">
				    <input class="span2" id="appendedInputButton" placeholder="Search..." type="text">
				    <button class="btn" type="button" onclick="search()">Go!</button>
			    </div>
	            <ul class="nav pull-right">

				{% block credentials %}
				{% if user.logged_in %}
					<li><span class="navbar-text">Logged in as: <strong>{{ user.username }}</strong></span></li>
					<li><span class="navbar-text" style="padding-left:3px; padding-right: 3px; color: #ff33ee;"> | </span></li>
					<li><span class="navbar-text"><a href="/logout/" style="text-decoration:none;">Logout</a></span></li>
				{% else %}
					<li><span class="navbar-text">Login with: </span></li>
					<li><a href="{% url 'socialauth_begin' 'facebook' %}"><img class="icon" src="/static/icons/facebook.png" title="Login with Facebook" /></a></li>
			        <li><a href="{% url 'socialauth_begin' 'google-oauth2' %}"><img class="icon" src="/static/icons/google.png" title="Login with Google" /></a></li>
					<li><a href="{% url 'socialauth_begin' 'github' %}"><img class="icon" src="/static/icons/github.png" title="Login with GitHub" /></a></li>
				{% endif %}
				{% endblock %}
				</ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span1"></div>
				<div class="span7" id="content">
			        {% block content %}{% endblock %}
			    </div>

				<div class="span3">
			        {% block sidebar %}				    	
					    	{% block tags-list %}
					    	{% endblock %}

					    	{% block all-posts %}					    	
					    	{% endblock %}

					    	{% block recent-posts %}
					    	{% endblock %}
			        {% endblock %}
			    </div>
			    <div class="span1"></div>
			</div>
		</div>
		<footer>
		    <div id="debug-data">
		        {% block debug_data %} {{ debug_data }} {% endblock %}
		    </div>
		</footer>
	</body>
</html>