{% extends "base_generic.html" %}
{% block content %}
		<div class="content">
			<h2 class="text-center">{{ post.title }}</h2>
			<h4 class="text-center">{{ post.created }}<span class="word_count"> | Word Count: {{ word_count }}</span></h4>
			<p class="lead">{{ post.text }}</p>

			{% for comment in comments %}
			<div id="{{comment.id}}" class="shifted-text">
				<h6>{{ comment.author }}</h3>
				<p>{{ comment.text }}</p>
				<h6 class="shifted-text">{{ comment.created }}</h6>
			</div>
			{% endfor %}
			{% if form %}
			<form action="." method="post" id="comment-form">
			{% csrf_token %}
			{{ form.as_p }}
				<button class="btn" type="button" id="comment-btn" onclick="$('#comment-form').submit();">Comment!</button>
			</form>
			{% else %}
			<h5 style="color:blue;">Login to comment!</h5>
			{% endif %}
		</div>
{% endblock %}

{% block tags-list %}
<div class="row sidebar-list">
	<h3>Tags</h3>
	<ul class="inline">
		{% for tag in tags %}
		<li><a href="/blog/posts/tag/{{tag.alt_name}}"><h4>{{ tag.name }} </h4></a></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}

{% block all-posts %}
<div class="row sidebar-list">
	<h3>All Posts</h3>
	<ul class="inline">
		{% for post in all_posts %}
		<li><a href="/blog/post/{{ post.id }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}

{% block recent-posts %}
<div class="row sidebar-list">
	<h3>Recent Posts</h3>
	<ul class="inline">
		{% for post in recent_posts %}
		<li><a href="/blog/post/{{ post.id }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endblock %}